.footer{
  background: #222222;
  width: 100%;
  height: 100%;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3% 1%;
    @media screen and (max-width:990px){
      grid-template-columns: repeat(2,1fr);
      height: 100%;
    }
    h5{
      font-size: 1.2rem;
      color: white;
    }
    p{
      color: rgb(144, 144, 144);
      font-size: 0.8rem;
      padding: 0.2rem;
      i{
        margin-right: 5px;
      }
    }
  }
  a{
    color: $color_red;
    opacity: 1;
    text-transform: lowercase;
  }
  .gallery-links-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    img{
      display: block;
      width: 100%;
    }
    a:hover{
      color: $color_red;
      opacity: 0.3;
    }
  }
  
  .footer-bottom{
    background-color: #111111;
    .wrapper{
      padding-top: 1.5rem;
      position: relative;
      height: 8%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width:680px){
        flex-direction: column;
      }
      .icons-link a{
        color: white;
        &:hover{
          color: $color_red;
        }
      }
    }
  }
}