body{
  font-family: $font_base;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.col-2 .wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5% 0;
  .txt-left{
    text-align: center;
  }
  .img-right{
    display: block;
    overflow: hidden;
    max-width: 390px;
    border-radius: 15px;
    margin: 0 auto;
    &:hover img{
    transform: scale(1.1);
    transition: all .6s ease-in-out;
    }
    img{
      width: 100%;
      height: 100%;
      display: block;
      border: 10px;
      transition: all .5s ease-in-out;
    }
  }
}

a{
  text-decoration: none;
  text-transform: uppercase;
}

.bg-welcome {
    background-image: url(../img/pattern1.png);
    background-repeat: repeat;
}

h3{
  text-transform: capitalize;
  font-family: $font_two;
  font-size: 2rem;
  line-height: 1;
  color: $color_red;
  margin-top: 0;
}
h4{
  margin: 0;
  font-family: $font_three;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 6px;
}

p{
  font-family: $font_base;
  font-weight: 400;
  font-size: 1rem;
  color: #666666;

}

h5{
  font-family: $font_three;
  font-weight: 500;
  font-size: 1.3rem;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.link-arrow a{
    padding: 10% 0;
    font-family: $font_base;
    font-weight: 400;
    font-size: 0.8rem;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

  .slide-top{
    background-image: url(../img/slide1-01.jpg)center/cover;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 3;
  }

    .txt-center{
    text-align: center;
    padding: 4rem;
  }

  .fa-star{
    color: $color_red;
  }

  .img-zoom{
    display: block;
    overflow: hidden;
    border-radius: 15px;
  }
  


