.header{
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  .slide-item{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }
  .contact-head{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/master-slides-08.jpg);
    h2{
      color: white;
      font-size: 4rem;
    }
  }
  
  input{
    display: none;
  }
  .controls{
    position: relative;
    display: flex;
    justify-content: center;
    color: transparent;
    z-index: 5;
    width: 100%;
    text-align: center;
    i{
      display: block;
      border: 1px solid white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      margin: 2px;
      opacity: .5;
      &:hover{
        border: 2px solid white;
        background: $color_red;
        opacity: 1;
      }
    }
  }
  #one{
    background: url(../../img/slide1-01.jpg) center/cover;
  }
  
  #two{
    background: url(../../img/slide1-02.jpg) center/cover;
  }
  
  #three{
    background: url(../../img/slide1-03.jpg) center/cover;
  }
  #item1:checked ~ #one,
  #item2:checked ~ #two,
  #item3:checked ~ #three{
    z-index: 1;
  }
  // background: url(../../img/slide1-01.jpg) center/cover;
}
h1{
  font-family: 'Courgette', cursive;
  font-size: 4rem;
  margin: 0;
}
h2{
  text-transform: uppercase;
  font-size: 90px;
  margin: 0;
}

.welcome-head{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  .moving-title{
    position: relative;
    z-index: 4;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}
