.header{
  height: 100vh;
  width: 100%;
  background: url(../../img/slide1-01.jpg) center/cover;
  text-align: center;
  color: white;
}
h1{
  font-family: 'Courgette', cursive;
  font-size: 4rem;
  margin: 0;
}
h2{
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
}

.welcome-head{
  padding: 10% 0;
  .slide-top{
    background-image: url(../img/slide1-01.jpg)center/cover;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 3;
  }
  .moving-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.i-radio {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
    input {
      width: 20px;
      margin: 2px;
      color: #d61c22;
        }
}