.nav-bar{
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 10;
  border-top: 5px solid red;
  background: rgba(255, 255, 255, 0.731);
  width: 100%;
  @media screen and (max-width:990px){
    justify-content: space-between;
    position: absolute;
    padding: 0 2rem;
  }
  .logo, .menu-main, .socials, .burger-menu{
    padding-top: 2%;
  }
  .logo{
    display: block;
    text-align: center;
    width: 20%;
    a{
      width: 20px;
    }
  }
  .menu-main {
    justify-content: center;
    width: 60%;
    display: flex;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    a{
      color: black;
      font-size: 0.8rem;
      transition: all .3s ease-in-out;
      &:hover{
        color: $color_red;
      }
    }
    
    @media screen and (max-width:990px){
      display: none;
    }
  }
  .socials{
    width: 20%;
    display: flex;
    justify-content: center;
    a{
      padding-right: 1.5rem;
      i{
        color: black;
        &:hover{
          color: $color_red;
        }
      }
    }
  }
  
}


.window-menu{
  position: fixed;
  max-width: 80%;
  width: 30%;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100vh;
  line-height: 2.3rem;
  background: white;
  padding-top: 5%;
  transform: translateX(100%);
  transition: .3s all ease-in-out;
  &.active{
    transform: translateX(0);
  }
  .menu-side {
    ul{
      padding: 0;
      list-style-type: none;
      text-align: center;
      
    }
    .black-links{
      color: rgb(29, 29, 29);
      font-size: 0.8rem;
      transition: all .3s ease-in-out;
      &:hover{
        color: $color_red;
      }
      
      
    }
    .gallery-side{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h5{
        font-size: 1.2rem;
        margin-bottom: 0;
      }
      .gallery-links{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem 3rem;
      }
    }
  }
}
.cross-wind {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover .cross-part{
    background: $color_red;
  }
  .cross-part{
    width: 60%;
    height: 1px;
    background: black;
    border-radius: 8px;
    transition: 0.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: absolute;
    
  }
  .cross-part:nth-child(1){
    transform: rotate(45deg);
  }
  .cross-part:nth-child(2){
    transform: rotate(-45deg);
  }
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}




/////////////////RESPONSIVE 
