
.main-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 5%;
  .map{
    display: block;
      margin: 0 auto;
      width: 800px;
      height: 400px;

  }
  .txt-center {
    padding-bottom: 0;
  }
  form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    .row-top{
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      div{
        display: flex;
        flex-direction: column;
      }
    }
    .msg{
      width: 100%;
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      padding-bottom: 5%;
      textarea{
        width: 100%;
        min-height: 180px;
      }
      
    }
    input, textarea {
      outline: none;
      border: 2px solid $color_grey;
      border-radius: 10px;
      height: 30px;
      width: 250px;
      padding: 20px;
      color: $color_grey;
      font-size: .9rem;
    }
  }
  .contact-more{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 6rem 1rem;
    &>*{
      display: flex;
      justify-content: center;
    }
    .txt-contact-more{
      margin-left: 1.5rem;
      h5{
        margin-bottom: 0;
      }
      p{
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }
  }
}