.welcome .wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5% 3%;
  @media screen and (max-width:770px){
    display: flex;
    flex-direction: column;
  }
  .txt-left{
    text-align: center;
  }
  
}
//////////////////////////////////////////////
.discover{
  display: grid;
  grid-template-rows: 2, 1fr;
  margin: 0 auto;
  background-image: url(../img/bg-intro-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment : fixed;
  .txt-center{
    padding: 150px 0;
    text-align: center;
  }
  h4{
    color: white;
  }
  
}

////////////////////////////////////////

.blog-3col{
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 5% auto;
    padding: 1.5rem;
    @media screen and (max-width:770px){
      display: flex;
      flex-direction: column;
    }
    .col{
      display: flex;
      flex-direction: column;
      overflow: hidden;
      img{
        display: block;
        width: 100%;
        border-radius: 15px;
        transition: all 0.5s ease-in-out;
        &:hover{
          transform: scale(1.1);
          border-radius: 15px;
        }
      }
      h5{
        margin-bottom: 3%;
      }
    }
  }
}
/////////////////////////////////////////
.menu .wrapper{
  display: grid;
  padding-bottom: 5%;
  .menu-links{
    display: grid;
    grid-template-areas: "lunch diner drinks"
    "lunch diner starters"
    "happy happy desserts";
    grid-auto-rows: calc(200px + 1vw);
    gap: 2rem;
    padding: 2rem;
    @media screen and (max-width:770px){
      grid-template-areas: "lunch diner"
      "lunch diner"
      "happy happy"
      "drinks drinks"
      "drinks drinks"
      "starters starters"
      "starters starters"
      "desserts desserts"
      "desserts desserts";
    }
    .menu-container{
      position: relative;
      max-width: 100%;
      border-radius: 15px;
      overflow: hidden;
      &:hover .img-link{
        transform: scale(1.1);
        transition: all .5s ease-in-out;
      }
      .img-link{
        max-width: 100%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: all .6s ease-in-out;
      }
    }
    .menu-container:nth-of-type(1){
      grid-area: lunch;
      .img-link{
        background-image: url(../img/our-menu-01.jpg);
      }
    }
    .menu-container:nth-of-type(2){
      grid-area: diner;
      .img-link{
        background-image: url(../img/our-menu-05.jpg);
      }
    }
    .menu-container:nth-of-type(3) {
      grid-area: drinks;
      .img-link{
        background-image: url(../img/our-menu-08.jpg);
      }
    }
    .menu-container:nth-of-type(4){
      grid-area: starters;
      .img-link{
        background-image: url(../img/our-menu-10.jpg);
      }
    } 
    .menu-container:nth-of-type(5){
      grid-area: happy;
      .img-link{
        background-image: url(../img/our-menu-13.jpg);
      }
    }
    .menu-container:nth-of-type(6){
      grid-area: desserts;
      .img-link{
        background-image: url(../img/our-menu-16.jpg);
      }
    } 
  }
  
}

////////////////////////////////////////////////
.event .wrapper{
  padding-bottom: 10%;
  h4{
    color: white;
  }
  .swiper-ticket{
    position: relative;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width:990px){
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
      
    }
    .img-left{
      background-image:url(../img/event-01.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (max-width: 992px){
        width: 100%;
        height: 390px
      }
      .red-flag{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $color_red2;
        font-size: 0.8rem;
        opacity: .8;
        color: white;
        writing-mode: vertical-rl;
        height: 400px;
        width: 8%;
        @media (max-width: 992px){
          writing-mode: horizontal-tb;
          height: 10%;
          width: 100%;
        }
      }
    }
    .txt-right{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      padding: 5%;
      background-color: white;
      height: 100%;
    }
    .countdown{
      padding-top: 1rem;
      height: 30%;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      div {
        display: flex;
        flex-direction: column;
        span{
          font-family: $font_base;
          font-weight: 700;
          font-size: 50px;
          color: #ec1d25;
          line-height: 1.1;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
        strong{
          opacity: .5;
        }
      }
    }
  }
}

//////////////////////////////////////////

.resa{
  padding: 3rem;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @media screen and (max-width:990px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 100%;
      
    }
    .txt-left{
      .txt-center{
        padding: 0;
        h3{
          margin-top: 0;
        }
      }
      form {
        margin-top: 5%;
        width: 100%;
        .resa-form{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          @media (max-width: 768px){
            display: flex;
            flex-direction: column;
          }
          .col-bloc div{
            display: flex;
            flex-direction: column;
            margin-top: 5%;
          }
          label{
            text-align: left;
            margin-bottom: 3%;
            font-size: .9rem;
          }
          input, select{
            border: 2px solid $color_grey;
            border-radius: 10px;
            height: 30px;
            width: 250px;
            padding: 20px;
            color: $color_grey;
            font-size: .9rem;
            &:focus{
              outline: none;
              border: 2px solid $color_red;
            }
            @media (max-width: 768px){
              width: 100%;
            }
          }
          option:hover{
            background: $color_red;
            color: #fff;
          }
          .col-right input::placeholder {
            opacity: 0.5;
          }
        }
      }
    }
    .img-right{
      img{
        min-width: 100%;
      }
    }
  }
}

/////////////////////////////////////////////
.review{
  .slider-review{
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 4rem;
    .avatar{
      display: block;
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border: 4px solid $color_red;
      border-radius: 50%;
      overflow:hidden;
      background-image: url(../img/avatar-01.jpg);
      background-size: contain;
    }
    .stars-review{
      padding: 2%;
    }
    .author{
      padding-top: 2%;
      p{
        font-size: .8rem;
        text-transform: uppercase;
      }
    }
    .controls{
      display: flex;
      margin: 0 auto;
      justify-content: center;
      padding-top: 3%;
      i{
        background:grey;
        color: transparent;
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 5px;
        transition: .1s ease-in-out;
        &:hover{
          transform: scale(1.2);
          background: $color_red;
          opacity: 1;
          transition: .1s ease-in-out;
        }
      }
    }
  }
}
/////////////////////////////////////////////
.video{
  display: grid;
  grid-template-rows: 2, 1fr;
  margin: 0 auto;
  background-image: url(../img/bg-cover-video-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment : fixed;
  .txt-center{
    padding: 150px 0;
    text-align: center;
  }
  h4{
    color: white;
  }
}

/////////////////////////////////////////////////
.sign{
  padding: 5% 10%;
  .wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    h5{
      text-align: right;
    }
    @media screen and (max-width:990px){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h5{
        margin-bottom: 0;
      }
    }
    .input{
      display: flex;
      justify-content: center;
      align-items: center;
      .fa{
        color: #666666;
        transform: translateX(-300%);
      }
    }
    input{
      border: 2px solid $color_grey;
      border-radius: 10px;
      height: 30px;
      width: 250px;
      padding: 20px;
      color: $color_grey;
      font-size: .9rem;
    }
    .btn-black{
      margin: 0;
    }
    
  }
}
